body {
    background: linear-gradient(to left, #28b487, #7dd56f);
    font-family: sans-serif;
    color: #333;
    text-align: center;
}

table {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    filter: blur();
}

tbody {
    margin: 0 auto;
    margin-top: 30px;
}

.cell {
    position: relative;
    height: 30px;
    width: 30px;
    text-align: center;
    border: none;
    border-radius: 15%;
    cursor: pointer;
    background-color: #fff;
    justify-content: center;
    align-items: center;

}

.timer {
    position: relative;
    margin: 0;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


td span {
    visibility: hidden;
}

/* .hidden {
    background: #F9E4D4;
} */

.shown {
    background: #93a292;
}