body {
    background-color: #2c061f;
    color: #e1d89f;
    text-align: center;
}

table {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    filter: blur();
}

tbody {
    margin: 0 auto;
    margin-top: 30px;
}

.cell {
    position: relative;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 15%;
    background-color: #e1d89f;
}


.timer {
    position: relative;
    padding: 5px;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bolder;
}



.shown {
    background: #93a292;
    color: #2c061f;
}



.btn {
    padding: 5px;
    border-radius: 5px;
    background-color: #d89216;
    width: 80px;
    margin-left: 15px;
}

.btn:hover {
    background-color: #e1d89f;
    color: #2c061f;
}

footer {
    position: relative;
    margin-top: 10%;
}